.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
main {
  padding-bottom: 40px;
}
.main,
.footer {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.decorated-zone {
  position: relative;
  height: 100vh;
  min-height: 668px;
}
.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px 0 20px 0;
  gap: 65px;
}
.header__decoder-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  right: 29px;
  color: var(--color-button);
  font-family: var(--font-family) monospace;
  font-size: 18px;
}

.header__decoder-tag::after {
  content: "";
  flex-shrink: 0;
  width: 9px;
  height: 9px;
  background-color: var(--color-button);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-button);
}

/* Уголки  */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
}

.decorated-zone::before {
  right: 25px;
  top: 25px;
  border-top: 1px solid var(--color-button);
  border-right: 1px solid var(--color-button);
}

.decorated-zone::after {
  margin-bottom: 20px;
  bottom: 1px;
  left: 25px;
  border-bottom: 1px solid var(--color-button);
  border-left: 1px solid var(--color-button);
}
.header__theme-menu {
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  padding: 0 15px 0 15px;
  background: none;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  font-family: var(--font-family), monospace;
  color: var(--color-button);
  cursor: pointer;
  transition:
    outline 0.3s ease,
    opacity 0.3s ease;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color-button);
}

.header__theme-menu-button:disabled {
  opacity: 1;
  border: 1px solid var(--color-button);
  pointer-events: none;
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  font-family: var(--font-family), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--cl-focus);
  text-shadow: 3px 3px 0px var(--cl-focus-shadow);
}

.header__text {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.header__description {
  max-width: 491px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 13px;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--cl-title);
}
.title-decor {
  background-color: var(--cl-bg-title);
}
/* Основная часть */

.container {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 2.06fr;
  gap: 20px;
}
.container__main {
  display: grid;
  grid-column: 2;
  gap: 15px;
}

.holder {
  padding-top: 77px;
}
.holder_title {
  padding-bottom: 20px;
  max-width: 315px;
}
.holder__text {
  padding-top: 10px;
}
.holder__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.box {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}
.box_grid {
  grid-column: 2;
  display: grid;
  gap: 15px;
}

.main__title {
  color: var(--color-text);
}
.title {
  color: var(--cl-text-bg);
  background-color: var(--cl-bg-title);
}
.title-no_bold {
  font-weight: 400;
}
.main__text-block {
  color: var(--cl-text-decor);
}

.typography {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.typography-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.main__link {
  text-decoration: none;
  color: var(--cl-text-decor);
  text-shadow: 2px 2px 0px var(--cl-focus-shadow);
}

.main__link:hover {
  border-bottom: 2px solid var(--cl-text-decor-hover);
}

.main__link:focus {
  outline: 2px solid var(--cl-text-decor);
}

/* Сетка картинок */
.block {
  padding-top: 80px;
}
.block__title {
  margin-bottom: 20px;
}
.image__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image__first {
  grid-column: 1 / 3;
  grid-row: 1;
}
.image__second {
  grid-column: 3;
  grid-row: 1 / 3;
}
.image__third {
  grid-column: 1;
  grid-row: 2 / 5;
}
.image__fourth {
  grid-column: 2;
  grid-row: 2;
}
.image__fifth {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

/* Футер */
.footer {
  height: 100vh;
  box-sizing: border-box;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.footer__block {
  width: 100%;
}

.footer_title {
  font-family: var(--font-family), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  color: var(--cl-focus);
  text-shadow: 2px 2px 0px var(--cl-focus-shadow);
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    gap: 55px;
  }
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    align-self: start;
    padding-top: 170px;
    padding-right: 17px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
  .header__text {
    padding-top: 63px;
  }
  .header__title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    max-width: 364px;
  }
  .container {
    grid-template-columns: 1fr 2fr;
  }
  .holder__grid {
    grid-template-columns: 1fr;
  }
  .holder_title {
    max-width: 200px;
    text-align: left;
    display: block;
  }
}

/* Мобильная версия  */
@media (max-width: 767px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
  .theme-dark .header__decoder-tag {
    right: 15px;
  }
  .decorated-zone::after {
    margin-bottom: 0;
    bottom: 10px;
    left: 10px;
  }

  .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    min-height: 668px;
    gap: 55px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .header__decoder-tag {
    right: 15px;
  }

  .header__theme-menu-list {
    justify-content: end;
    flex-direction: column;
    padding-bottom: 14px;
    align-items: flex-end;
    gap: 12px;
  }
  .header__theme-menu {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    gap: 10px;
  }
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    letter-spacing: 0;
  }
  .header__description {
    margin-top: 0px;
    margin-right: 0;
    max-width: 100%;
  }
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    display: block;
    padding-top: 40px;
  }
  .container__title {
    padding-bottom: 20px;
  }
  .container__main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
  }
  .main__text-block {
  }
  .holder {
    padding-top: 50px;
  }
  .holder_title {
    max-width: 355px;
  }
  .holder__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .holder_title {
    max-width: none;
  }
  .box {
    padding-top: 50px;
    display: block;
  }
  .box__title {
    padding-bottom: 22px;
  }
  .block {
    padding-top: 47px;
  }
  .block__title {
    margin-bottom: 10px;
  }
  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .image__grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .image__main {
    grid-column: auto;
    grid-row: auto;
  }
}
